@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body, .home-page {
  margin-top: 0 !important;
}
/* Define the animation for text */
@keyframes slideInFromBehind {
  0% {
    transform: scale(0) translateY(30px); /* Start small and behind */
    opacity: 0; /* Start invisible */
  }
  50% {
    transform: scale(1.2) translateY(0); /* Scale up and move to the right position */
    opacity: 1; /* Become fully visible */
  }
  100% {
    transform: scale(1) translateY(0); /* End at normal size and position */
    opacity: 1; /* Fully visible */
  }
}

/* Apply the animation to the text */
.animate-slideInFromBehind {
  animation: slideInFromBehind 12s ease-out forwards;
}
